/* Se mantienen las directivas de Tailwind, pero se añaden estilos globales */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Asegura que el canvas ocupe toda la pantalla sin márgenes */
html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000; /* Fondo negro para que no haya un flash de otro color */
}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}
